<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotels in Banglore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <table>
        <tbody>
        <tr th:each = "HotelBanglore : ${banglore}">
            <td th:text = "${HotelBanglore.name}"></td>
            <td th:text = "${HotelBanglore.address}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{http://localhost:8080/mapbanglore}">Show on map</a>
</div>
</body>
</html>
