<!DOCTYPE html>
<html>
<head>
  <title>Map of Chennai</title>
  <meta charset="utf-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=
          "https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
</head>
<body>
<div id="map" style="width: 960px; height: 500px"></div>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script>
  const map = L.map('map')
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  map.setView([13.0827,80.2707], 16);
  let eiffelMarker = L.marker([13.040176,80.2404608]).addTo(map);
  eiffelMarker.bindPopup("Itsy By Treebo - Deluxe Inn").openPopup();
  let eiffelMarker1 = L.marker([13.0391879,80.236684]).addTo(map);
  eiffelMarker1.bindPopup("Sreedevi Residency").openPopup();
  let eiffelMarker2 = L.marker([13.0385156,80.2401218]).addTo(map);
  eiffelMarker2.bindPopup("FabHotel Blossoms Service Apartment").openPopup();
  let eiffelMarker3 = L.marker([13.0428065,80.2259052]).addTo(map);
  eiffelMarker3.bindPopup("Lovely 1 bedroom/kichn flat in Chennai prime area").openPopup();
  let eiffelMarker4 = L.marker([13.0350615,80.2334308]).addTo(map)
  eiffelMarker4.bindPopup("NACHIAPPA PARK T.NAGAR").openPopup();
  let eiffelMarker5 = L.marker([13.0356366,80.231947]).addTo(map);
  eiffelMarker5.bindPopup("HOME STAY NEAR TNAGAR").openPopup();
  let eiffelMarker6 = L.marker([13.0454472,80.232064]).addTo(map);
  eiffelMarker6.bindPopup("Flagship 5765 Chennai Residency T Nagar").openPopup();
  let eiffelMarker7 = L.marker([13.038975,80.2300993]).addTo(map);
  eiffelMarker7.bindPopup("Taz Kamar Family Hotel").openPopup();
  let eiffelMarker9 = L.marker([13.0372053,80.2324103]).addTo(map);
  eiffelMarker9.bindPopup("Hotel Kheni").openPopup();
  let eiffelMarker11 = L.marker([13.0371872,80.2314851]).addTo(map);
  eiffelMarker11.bindPopup("Collection O 67653 Bkr Grand Hotel").openPopup();
  let eiffelMarker12 = L.marker([13.037066,80.23213]).addTo(map);
  eiffelMarker12.bindPopup("JJS MINI AC PARTY HALL").openPopup();
  let eiffelMarker13 = L.marker([13.0412755,80.2370676]).addTo(map);
  eiffelMarker13.bindPopup("Rich Inn Studios and Suites").openPopup();
  let eiffelMarker14 = L.marker([13.0394671,80.235412]).addTo(map);
  eiffelMarker14.bindPopup("Grand Galaxy").openPopup();
  let eiffelMarker15 = L.marker([13.0394671,80.235412]).addTo(map);
  eiffelMarker15.bindPopup("Sunshine Stay").openPopup();
  let eiffelMarker16 = L.marker([13.0443395,80.2223942]).addTo(map);
  eiffelMarker16.bindPopup("The Saibaba Hotel").openPopup();
  let eiffelMarker17 = L.marker([13.0451686,80.2451244]).addTo(map);
  eiffelMarker17.bindPopup("FabHotel Skyry").openPopup();
  let eiffelMarker18 = L.marker([13.044695,80.242199]).addTo(map);
  eiffelMarker18.bindPopup("Quality Inn Sabari").openPopup();
  let eiffelMarker19 = L.marker([13.0475145,80.2400929]).addTo(map);
  eiffelMarker19.bindPopup("The Residency Towers").openPopup();
  let eiffelMarker20 = L.marker([13.0405211,80.2437557]).addTo(map);
  eiffelMarker20.bindPopup("Phoenix Serviced Apartment - Sai Illam").openPopup();
  let eiffelMarker21 = L.marker([13.0412372,80.2371174]).addTo(map);
  eiffelMarker21.bindPopup("Treebo Trend U Hotels Pondy Bazar").openPopup();


</script>
</body>
</html>


