<!DOCTYPE html>
<html>
<head>
  <title>Map of Ooty</title>
  <meta charset="utf-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=
          "https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
</head>
<body>
<div id="map" style="width: 960px; height: 500px"></div>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script>
  const map = L.map('map')
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  map.setView([11.4102,76.6950], 16);
  let eiffelMarker = L.marker([11.4041858,76.6939932]).addTo(map);
  eiffelMarker.bindPopup("Hotel City Palace").openPopup();
  let eiffelMarker1 = L.marker([11.413897,76.6878776]).addTo(map);
  eiffelMarker1.bindPopup("West Downs - The Heritage Resort").openPopup();
  let eiffelMarker2 = L.marker([11.4040343,76.7019038]).addTo(map);
  eiffelMarker2.bindPopup("HAPPYSTAY rooms and cottages").openPopup();
  let eiffelMarker3 = L.marker([11.4061473,76.7013529]).addTo(map);
  eiffelMarker3.bindPopup("kurinji residency").openPopup();
  let eiffelMarker4 = L.marker([11.4135912,76.6963918]).addTo(map)
  eiffelMarker4.bindPopup("Prakash Residency").openPopup();
  let eiffelMarker5 = L.marker([11.4134503,76.6957922]).addTo(map);
  eiffelMarker5.bindPopup("Avalon Stays").openPopup();
  let eiffelMarker6 = L.marker([11.4128691,76.6920284999999]).addTo(map);
  eiffelMarker6.bindPopup("Hillcrest Metro").openPopup();
  let eiffelMarker7 = L.marker([11.4251784,76.8453965]).addTo(map);
  eiffelMarker7.bindPopup("OYO 70390 Jayam Ooty Residency").openPopup();
  let eiffelMarker9 = L.marker([11.4039219,76.6982865]).addTo(map);
  eiffelMarker9.bindPopup("Hotel Maneck Residency").openPopup();
  let eiffelMarker11 = L.marker([11.4096273,76.6921785999999]).addTo(map);
  eiffelMarker11.bindPopup("yasu farm villa").openPopup();
  let eiffelMarker12 = L.marker([11.4096273,76.6921786]).addTo(map);
  eiffelMarker12.bindPopup("OYO Flagship 70095 Key Heaven").openPopup();
  let eiffelMarker13 = L.marker([18.9682443,72.8238592]).addTo(map);
  eiffelMarker13.bindPopup("V.R.NEST").openPopup();
  let eiffelMarker14 = L.marker([11.4089947,76.6873603]).addTo(map);
  eiffelMarker14.bindPopup("Treebo Trend Ooty Residency").openPopup();
  let eiffelMarker15 = L.marker([11.4040343,76.7019038]).addTo(map);
  eiffelMarker15.bindPopup("Aakash Rooms and Cottages").openPopup();
  let eiffelMarker16 = L.marker([11.4129546,76.6967663]).addTo(map);
  eiffelMarker16.bindPopup("SAIBALA RESlDENCY - NEAR BOAT HOUSE").openPopup();
  let eiffelMarker17 = L.marker([11.4102579,76.6956094]).addTo(map);
  eiffelMarker17.bindPopup("Treebo Trend Atithi Bhavan Ooty").openPopup();
  let eiffelMarker18 = L.marker([11.4102038,76.6950324]).addTo(map);
  eiffelMarker18.bindPopup("Welbeck Inn Resort By Lexstays").openPopup();
  let eiffelMarker19 = L.marker([11.4003551,76.6997159]).addTo(map);
  eiffelMarker19.bindPopup("Ooty Stay Awhile").openPopup();
  let eiffelMarker20 = L.marker([11.4094859,76.6927927]).addTo(map);
  eiffelMarker20.bindPopup("Itsy By Treebo - Rosefield Heritage").openPopup();
  let eiffelMarker21 = L.marker([11.4132604,76.6900469999999]).addTo(map);
  eiffelMarker21.bindPopup("Rustic Cottage").openPopup();

</script>
</body>
</html>


